/* 和盒模型相关属性 */

/* margin */
.mg-0 {
  margin: 0;
}

.mg-2 {
  margin: 2px;
}

.mg-4 {
  margin: 4px;
}

.mg-8 {
  margin: 8px;
}

.mg-10 {
  margin: 10px;
}

.mg-20 {
  margin: 20px;
}

.mg-t0 {
  margin-top: 0;
}

.mg-t2 {
  margin-top: 2px;
}

.mg-t4 {
  margin-top: 4px;
}

.mg-t8 {
  margin-top: 8px;
}

.mg-t10 {
  margin-top: 10px;
}

.mg-t12 {
  margin-top: 12px;
}

.mg-t16 {
  margin-top: 16px;
}

.mg-t20 {
  margin-top: 20px;
}

.mg-t30 {
  margin-top: 30px;
}

.mg-t40 {
  margin-top: 40px;
}

.mg-t50 {
  margin-top: 50px;
}

.mg-t80 {
  margin-top: 80px;
}

.mg-t100 {
  margin-top: 100px;
}

.mg-b0 {
  margin-bottom: 0;
}

.mg-b2 {
  margin-bottom: 2px;
}

.mg-b4 {
  margin-bottom: 4px;
}

.mg-b8 {
  margin-bottom: 8px;
}

.mg-b10 {
  margin-bottom: 10px;
}

.mg-b12 {
  margin-bottom: 12px;
}

.mg-b16 {
  margin-bottom: 16px;
}

.mg-b20 {
  margin-bottom: 20px;
}

.mg-b30 {
  margin-bottom: 30px;
}

.mg-b40 {
  margin-bottom: 40px;
}

.mg-b50 {
  margin-bottom: 50px;
}

.mg-b80 {
  margin-bottom: 80px;
}

.mg-b100 {
  margin-bottom: 100px;
}

.mg-l0 {
  margin-left: 0;
}

.mg-l2 {
  margin-left: 2px;
}

.mg-l4 {
  margin-left: 4px;
}

.mg-l8 {
  margin-left: 8px;
}

.mg-l10 {
  margin-left: 10px;
}

.mg-l12 {
  margin-left: 12px;
}

.mg-l16 {
  margin-left: 16px;
}

.mg-l20 {
  margin-left: 20px;
}

.mg-l30 {
  margin-left: 30px;
}

.mg-l40 {
  margin-left: 40px;
}

.mg-l50 {
  margin-left: 50px;
}

.mg-l80 {
  margin-left: 80px;
}

.mg-l100 {
  margin-left: 100px;
}

.mg-r0 {
  margin-right: 0;
}

.mg-r2 {
  margin-right: 2px;
}

.mg-r4 {
  margin-right: 4px;
}

.mg-r8 {
  margin-right: 8px;
}

.mg-r10 {
  margin-right: 10px;
}

.mg-r12 {
  margin-right: 12px;
}

.mg-r16 {
  margin-right: 16px;
}

.mg-r20 {
  margin-right: 20px;
}

.mg-r30 {
  margin-right: 30px;
}

.mg-r40 {
  margin-right: 40px;
}

.mg-r50 {
  margin-right: 50px;
}

.mg-r80 {
  margin-right: 80px;
}

.mg-r100 {
  margin-right: 100px;
}

/* padding */
/* 和盒模型相关属性 */

/* padding */
.pd-0 {
  padding: 0;
}

.pd-2 {
  padding: 2px;
}

.pd-4 {
  padding: 4px;
}

.pd-8 {
  padding: 8px;
}

.pd-10 {
  padding: 10px;
}

.pd-20 {
  padding: 20px;
}

.pd-t0 {
  padding-top: 0;
}

.pd-t2 {
  padding-top: 2px;
}

.pd-t4 {
  padding-top: 4px;
}

.pd-t8 {
  padding-top: 8px;
}

.pd-t10 {
  padding-top: 10px;
}

.pd-t12 {
  padding-top: 12px;
}

.pd-t16 {
  padding-top: 16px;
}

.pd-t20 {
  padding-top: 20px;
}

.pd-t30 {
  padding-top: 30px;
}

.pd-t40 {
  padding-top: 40px;
}

.pd-t50 {
  padding-top: 50px;
}

.pd-t80 {
  padding-top: 80px;
}

.pd-t100 {
  padding-top: 100px;
}

.pd-b0 {
  padding-bottom: 0;
}

.pd-b2 {
  padding-bottom: 2px;
}

.pd-b4 {
  padding-bottom: 4px;
}

.pd-b8 {
  padding-bottom: 8px;
}

.pd-b10 {
  padding-bottom: 10px;
}

.pd-b12 {
  padding-bottom: 12px;
}

.pd-b16 {
  padding-bottom: 16px;
}

.pd-b20 {
  padding-bottom: 20px;
}

.pd-b30 {
  padding-bottom: 30px;
}

.pd-b40 {
  padding-bottom: 40px;
}

.pd-b50 {
  padding-bottom: 50px;
}

.pd-b80 {
  padding-bottom: 80px;
}

.pd-b100 {
  padding-bottom: 100px;
}

.pd-l0 {
  padding-left: 0;
}

.pd-l2 {
  padding-left: 2px;
}

.pd-l4 {
  padding-left: 4px;
}

.pd-l8 {
  padding-left: 8px;
}

.pd-l10 {
  padding-left: 10px;
}

.pd-l12 {
  padding-left: 12px;
}

.pd-l16 {
  padding-left: 16px;
}

.pd-l20 {
  padding-left: 20px;
}

.pd-l30 {
  padding-left: 30px;
}

.pd-l40 {
  padding-left: 40px;
}

.pd-l50 {
  padding-left: 50px;
}

.pd-l80 {
  padding-left: 80px;
}

.pd-l100 {
  padding-left: 100px;
}

.pd-r0 {
  padding-right: 0;
}

.pd-r2 {
  padding-right: 2px;
}

.pd-r4 {
  padding-right: 4px;
}

.pd-r8 {
  padding-right: 8px;
}

.pd-r10 {
  padding-right: 10px;
}

.pd-r12 {
  padding-right: 12px;
}

.pd-r16 {
  padding-right: 16px;
}

.pd-r20 {
  padding-right: 20px;
}

.pd-r30 {
  padding-right: 30px;
}

.pd-r40 {
  padding-right: 40px;
}

.pd-r50 {
  padding-right: 50px;
}

.pd-r80 {
  padding-right: 80px;
}

.pd-r100 {
  padding-right: 100px;
}
