/* flex 布局常用 */
.flexbox {
  display: flex;
}

.flexcenter {
  justify-content: center;
  align-items: center;
}

.flexbw-x {
  justify-content: space-between;
  align-items: center;
}

.flexad-x {
  justify-content: space-around;
  align-items: center;
}

.flexel-x {
  justify-content: space-evenly;
  align-items: center;
}
